@tailwind base;
@tailwind components;
@tailwind utilities;

a.active {
    font-weight: bold;
}


a.sidebarActive {
    background: rgba(0,0,0,0.4);
}

/*format ordinateur*/

.slider {
    height: 200px;
    margin: auto;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.slide-track {
    display: flex;
    width: calc(400px * 12);
    animation: slider 35s linear infinite;
}

@keyframes slider {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-400px * 6));
    }
}

.slide {
    height: 200px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 40px;
}

img1 {
    object-fit: contain;
}



/*format tablette*/

@media (max-width: 1280px) {
    .slider {
        height: 200px;
        margin: auto;
        position: relative;
        width: 100%;
        display: grid;
        place-items: center;
        overflow: hidden;
    }
}

@media (max-width: 1280px) {
    .slide-track {
        display: flex;
        width: calc(300px * 10);
        animation: slider 40s linear infinite;
    }
}

@media (max-width: 1280px) {
    @keyframes slider {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(calc(-300px * 5));
        }
    }
}

@media (max-width: 1280px) {
    .slide {
        height: 200px;
        width: 300px;
        display: flex;
        justify-content: center;
        align-content: center;
        padding: 40px;
    }
}

@media (max-width: 1280px) {
    img1 {
        object-fit: contain;
    }
}

/*format grand téléhpone*/

@media (max-width: 768px) {
    .slider {
        height: 150px;
        margin: auto;
        position: relative;
        width: 100%;
        display: grid;
        place-items: center;
        overflow: hidden;
    }
}

@media (max-width: 768px) {
    .slide-track {
        display: flex;
        width: calc(250px * 10);
        animation: slider 40s linear infinite;
    }
}

@media (max-width: 768px) {
    @keyframes slider {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(calc(-250px * 5));
        }
    }
}

@media (max-width: 768px) {
    .slide {
        height: 150px;
        width: 250px;
        display: flex;
        justify-content: center;
        align-content: center;
        padding: 40px;
    }
}

@media (max-width: 768px) {
    img1 {
        object-fit: contain;
    }
}


/*preloader*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #946C57;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.5s ease;
    opacity: 1;
}

#preloader.hidden {
    opacity: 0;
    pointer-events: none; /* Empêcher les interactions utilisateur pendant la transition */
}



